{% if posts is not empty %}
	{% for post in posts %}
		<div class="post-container">
			<div class="profile-container">
				<img src="{{ asset('images/products/' ~ post.user.profilePictureFilename) }}" alt="Photo de profil de {{ post.user.firstName }} {{ post.user.lastName }}" class="profile">
			</div>
			<div class="right-part">
				<ul>
					<div class="category">
						<li>{{ post.category.name }}</li>
					</div>
					<li>
						<span class="firstname">{{ post.user.firstName }}</span>
						{{ post.user.lastName }}
					</li>
					<li>Publié le
						{{ post.dateCreation|date('d/m/Y ') }}</li>
					<h4>{{ post.title }}</h4>
					<p>{{ post.text }}</p>
					<div class="like" style="margin-bottom: 15px; margin-top: 20px;">
						{% include '_partials/_like.html.twig' %}
					</div>
				</ul>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p>Aucun post n'est disponible pour le moment.</p>
{% endif %}
