{% extends 'base_member.html.twig' %}

{% block title %} Profil {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/css/profile_style.css">
    <link rel="stylesheet" href="/assets/styles/css/post_style.css">
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="banner-container">
            <img src="{{ user.coverPicture }}" alt="Image en bandeau" class="banner-image">
            <img src="{{ user.profilePictureName }}" alt="Photo de profil" class="profile-image">
        </div>

        <div class="content-container">
        <div class="card">
            <div class="name-details">
                <span class="firstname">{{ user.firstName }}</span>
                <span class="lastname">{{ user.lastName }}</span>
            </div>
            <p class="header-card"> {{ user.jobTitle }} - <span class="chocolate-shop">{{ user.chocolateShop }}</span></p>
            <p class="description">{{ user.description }}</p>

            <div class="social-icons">
                {% if user.facebookLink %}
                    <a href="{{ user.facebookLink }}" class="icon-facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                {% endif %}

                {% if user.instagramLink %}
                    <a href="{{ user.instagramLink }}" class="icon-instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                {% endif %}

                {% if user.twitterLink %}
                    <a href="{{ user.twitterLink }}" class="icon-twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                {% endif %}

                {% if user.linkedinLink %}
                    <a href="{{ user.linkedinLink }}" class="icon-linkedin">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                {% endif %}
            </div>

            <a href="{{ user.email }}" class="email-button">Envoyer un mail</a>
        </div>

        <div class="posts-container">
            <div class="post-header">
                <h2>Les derniers</h2>
                <p>posts publiés</p>
            </div>
            {% include '_partials/_post.html.twig' %}
        </div>
        

        <div class="button-container">
            <a href="{{ path('profile_edit') }}" class="btn">Modifier mon profil</a>
            <a href="#" class="btn">Publier un post</a>
            <a href="#" class="btn trombinoscope">Trombinoscope</a>
        </div>
    </div>
    </div>
{% endblock %}
