{% extends 'base.html.twig' %}

{% block body %}

<div class="menu-vertical">
    <!-- Section de profil -->
    <div class="section-profil">
        {# <img src="{{ path_to_profile_image }}" alt="Photo de profil" class="profile-image"> #}
        <div class="name-details">
            <span class="prenom">{{ user.firstName }}</span>
            <span class="nom">{{ user.lastName }}</span>
        </div>
        <button class="voir-profil">Voir mon profil</button>
    </div>

    <!-- Section des liens -->
    <div class="section-liens">
        <a href="#" class="menu-link">Accueil</a>
        <a href="#" class="menu-link">Actualités de l'entreprise</a>
        <a href="#" class="menu-link">Trombinoscope</a>
        <a href="#" class="menu-link">La vie des chocolateries</a>
        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
    </div>

    <!-- Section du logo -->
    <div class="section-logo">
        {# <img src="{{ path_to_company_logo }}" alt="Logo de l'entreprise" class="company-logo"> #}
    </div>
</div>

{% endblock %}
