
{% extends 'base_member.html.twig' %}

{% block title %}Les actualités, des chocolateries{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/css/actualite_style.css">
{% endblock %}

{% block body %}
    <div class="body-container">
        <h2>Les actualités, des chocolateries</h2>
        <div class="nav-container">
            <div class="links-container">
                <ul>
                    {% for chocolateShop in chocolateShops %}
                        <li>
                            <a href="{{ path('actualite_by_chocolaterie', {'id': chocolateShop.id}) }}" class="chocolate-shop-link {% if app.request.attributes.get('id') == chocolateShop.id %}selected{% endif %}" data-chocolaterie-id="{{ chocolateShop.id }}">
                                {{ chocolateShop.city }}
                            </a>
                            <span>|</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="search-container">
                {{ form_start(form, {'attr': {'class': 'search-form'}}) }}

                <button type="submit" class="icon-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
            	</button>

    			{{ form_widget(form.q, {'attr': {'class': 'search-box', }}) }}

    			{{ form_end(form) }}
			</div>
        </div>
        <div class="news-section">
            {% for news in news %}
                <div class="block-news" data-chocolaterie-id="{{ news.chocolateShop.id }}">
                    <div class="block-img">
                        {% if news.imageName %}
                            <img src="{{ vich_uploader_asset(news, 'imageFile') }}" alt="image de {{ news.title }}">
                        {% else %}
                            <p>Aucune image disponible</p>
                        {% endif %}
                        {% if news.chocolateShop %}
                            <p class="ruban-jaune">
                                {{ news.chocolateShop.city }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="block-text">
                        <h5>{{ news.title }}</h5>
                        <p>{{ news.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
