{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
    <h1>Gérer les catégories</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'slug': category.slug}) }}">Voir</a>
                    <a href="{{ path('app_category_edit', {'slug': category.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Créer une catégorie</a>
{% endblock %}
