{% extends 'base_admin.html.twig' %}

{% block title %}Gerer les actualités
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/styles/css/back_office_table_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}


{% block body %}

	<div class="container-body">
		<div class="container-table">

			<h1>Gerer les actualités</h1>

			<div class="container-button-create">
				<a class="btn-create" href="{{ path('app_news_new') }}">
					<i class="fa-solid fa-plus"></i>
					<span>Ajouter</span>
				</a>
			</div>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success alert-dismissible fade show" id="success-alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}

			<table class="table">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Contenu</th>
						
						{# <th>Date de création</th>
												<th>Date d'édition</th> #}
						<th class="test">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for news in news %}
						<tr>
							<td data-label="Titre">{{ news.title }}</td>

							<td data-label="Texte">{{ news.content }}</td>

							{# <td data-label="Date de création">{{ news.dateCreation|date('d/m/Y') }}</td>
							
														<td data-label="Date d'édition">{{ news.dateEdition ? news.dateEdition|date('d/m/Y') : '' }}</td> #}

							<td data-label="Actions" class="btns">

								<a class="btn-edit" href="{{ path('app_news_edit', {'slug': news.slug}) }}">
									<i class="fa-solid fa-pen-to-square"></i>
									<span>Modifier</span>
								</a>
								{{ include('news/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Pas d'actualités trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
