{% extends 'base_admin.html.twig' %}

{% block title %}Gerer les posts
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/styles/css/back_office_table_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block body %}

	<div class="container-body">
		<div class="container-table">

			<h1>Gerer les posts</h1>

		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<div class="container-button-create">
				<a class="btn-create" href="{{ path('app_post_new') }}">
					<i class="fa-solid fa-plus"></i>
					<span>Ajouter</span>
				</a>
			</div>
		{% endif %}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success alert-dismissible fade show" id="success-alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}

			<table class="table">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Texte</th>
						{# <th>Date de création</th> #}
												{# <th>Date d'édition</th> #}
						<th>Catégories</th>
						<th class="test">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td data-label="Titre">{{ post.title }}</td>
							<td data-label="Texte">{{ post.text }}</td>
							{# <td data-label="Date création">{{ post.dateCreation|date('d/m/Y') }}</td> #}
														{# <td data-label="Date édition">{{ post.dateEdition ? post.dateEdition|date('d/m/Y') : '' }}</td> #}
							<td data-label="Categorie">{{ post.category }}</td>
							<td data-label="Actions" class="btns">
							{% if is_granted('ROLE_SUPER_ADMIN') %}
								<a class="btn-edit" href="{{ path('app_post_edit', {'slug': post.slug}) }}">
									<i class="fa-solid fa-pen-to-square"></i>
									<span>Modifier</span>
								</a>
								{{ include('post/_delete_form.html.twig') }}
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucun post enregistré</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
