{% extends 'base.html.twig' %}

{% block title %}Index des posts{% endblock %}

{% block body %}
    <h1>Index des posts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Texte</th>
                <th>Date de création</th>
                <th>Date d'édition</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.text }}</td>
                <td>{{ post.dateCreation|date('d/m/Y') }}</td>
                <td>{{ post.dateEdition ? post.dateEdition|date('d/m/Y') : '' }}</td> 
                <td>{{ post.title }}</td>
                <td>
                   
                    <a href="{{ path('app_post_edit', {'slug': post.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun post enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Créer</a>
{% endblock %}
