{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/css/accueil_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block body %}

<header>
    <div class="top-container">
        <div class="logo">
            <img src="{{ asset('/images/logo-david-kenos.png') }}" alt="Logo de l'entreprise">
        </div>
        <div class="title">
            <h1>Bienvenue,</h1>
            <p>dans votre administration</p>
        </div>
    </div>
    <nav>
        <div class="nav-container">
            <ul>
                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('app_logout') }}"> Déconnexion </a><i class="fas fa-right-from-bracket"></i></li>
                <li> Chocolaterie {{ user.chocolateShop }}</li>
            </ul>
            <div class="circle-container">
                <div class="outer-circle">
                    <div class="inner-circle"></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="cards-section">
    <div class="card-row">
        <div class="card">
            <div class="content">
                <div class="circle">
                    {# <p>{{ userCount }}</p> <!-- userCount doit être passé depuis le backend (entity + repository) --> #}
                </div>
                <div class="text-and-button">
                    <div class="card-text">
                        <h3>UTILISATEURS</h3>
                        <p>sont inscrits</p>
                    </div>
                    <button>Gérer les utilisateurs</button>
                </div>
            </div>
        </div>

        <div class="card center-card">
            <div class="content">
                <div class="circle">
                    {# <p>{{ newsCount }}</p>  #}
                </div>
                <div class="text-and-button">
                    <div class="card-text">
                        <h3>ACTUALITES</h3>
                        <p>sont disponibles</p>
                    </div>
                    <button>Gérer les actualités</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="circle">
                    {# <p>{{ postCount }}</p>  #}
                </div>
                <div class="text-and-button">
                    <div class="card-text">
                        <h3>POSTS</h3>
                        <p>sont disponibles</p>
                    </div>
                    <button>Gérer les posts</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="circle">
                    {# <p>{{ categoryCount }}</p>  #}
                </div>
                <div class="text-and-button">
                    <div class="card-text">
                        <h3>CATEGORIES</h3>
                        <p>de posts sont disponibles</p>
                    </div>
                    <button>Gérer les catégories</button>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>

</footer>

{% endblock %}
