{% extends 'base_admin.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/css/back_office_table_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block body %}

    <div class="container-body">
        <div class="container-table">

            <h1>Gérer les utilisateurs</h1>

            {% if app.user.roles is defined and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <div class="container-button-create">
                    <a class="btn-create" href="{{ path('app_user_new') }}">
                        <i class="fa-solid fa-plus"></i>
                        <span>Ajouter</span>
                    </a>
                </div>
            {% endif %}

			{% include "_partials/_flash.html.twig" %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Poste</th>
                        <th>Chocolaterie</th>
                         {% if app.user.roles is defined and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                        <th class="test">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td data-label="Nom">{{ user.lastName }}</td>
                            <td data-label="prénom">{{ user.firstName }}</td>
                            <td data-label="Poste">{{ user.jobTitle }}</td>
                            <td data-label="Chocolaterie">{{ user.chocolateShop }}</td>

                                {% if app.user.roles is defined and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            <td data-label="Actions" class="btns">
                                    <a class="btn-edit" href="{{ path('app_user_edit', {'slug': user.slug}) }}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <span>Modifier</span>
                                    </a>
                                    {{ include('user/_delete_form.html.twig') }}
                            </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun utilisateur enregistré</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
